<div class="container mt-4">
  <!-- <h1 class="text-center mb-4">Rule Management</h1> -->


  <div class="card p-4 shadow">
    <h4 class="text-center mb-3">{{ selectedRowId !== null ? 'Edit Rule' : 'Add Rule' }}</h4>

    <div class="row g-3">
      <div class="col-md-6">
        <label class="form-label">Rule Name</label>
        <input type="text" class="form-control" placeholder="Enter Rule Name" [(ngModel)]="newRule.ruleName" />
      </div>
      <div class="col-md-6">
        <label class="form-label">Active</label>
        <select class="form-select" [(ngModel)]="newRule.active">
          <option value="Y">Yes</option>
          <option value="N">No</option>
        </select>
      </div>
      <div class="col-md-6">
        <label class="form-label">Type</label>
        <select class="form-select" [(ngModel)]="newRule.type">
          <option value="Match">Match</option>
          <option value="Custom">Custom</option>
          <option value="Monitor">Monitor</option>
        </select>
      </div>
      <div class="col-md-6">
        <label class="form-label">Favourite</label>
        <select class="form-select" [(ngModel)]="newRule.favourite">
          <option value="Y">Yes</option>
          <option value="N">No</option>
        </select>
      </div>
      <div class="col-md-6">
        <label class="form-label">Scheduled</label>
        <select class="form-select" [(ngModel)]="newRule.scheduled">
          <option value="Y">Yes</option>
          <option value="N">No</option>
        </select>
      </div>
      <div class="col-md-6">
        <label class="form-label">Created Date</label>
        <input type="datetime-local" class="form-control" [(ngModel)]="newRule.createdDate" />
      </div>

      <div class="col-md-6">
        <label class="form-label">Alert</label>
        <select class="form-select" [(ngModel)]="newRule.alert">
          <option value="Y">Yes</option>
          <option value="N">No</option>
        </select>
      </div>
      <div class="col-md-12 text-center mt-3">
        <button class="btn btn-primary" (click)="addRule()">
          {{ selectedRowId !== null ? 'Update Rule' : 'Add Rule' }}
        </button>
      </div>
    </div>
  </div>


  <div class="mt-4">
    <ag-grid-angular
      style="width: 100%; height: 500px;"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      rowSelection="multiple"
      [defaultColDef]="{ resizable: true, sortable: true, filter: true }"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>

  <div class="text-center mt-3">
    <button class="btn btn-danger" (click)="deleteSelected()">Delete Selected</button>
  </div>
</div>
