
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";
@import "bootstrap/dist/css/bootstrap.min.css";


.ag-theme-alpine {
  height: 500px;
  width: 100%;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}


.ag-grid-angular {
  display: block;
  margin: 20px auto;
}

.ag-header-cell {
  background-color: #f1f1f1;
  font-weight: bold;
  color: #333;
  text-align: center;
}


.ag-row {
  background-color: white;
}

.ag-row-even {
  background-color: #fafafa;
}


.ag-row-hover {
  background-color: #e0e0e0;
}
